        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
        /* -----------      scroll bar style  ------------ */
        
         ::-webkit-scrollbar {
            width: 7px;
        }
        
         ::-webkit-scrollbar-track {
            background-color: #ebebeb;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #6d6d6d;
        }
        
        html {
            box-sizing: 0px;
            padding: 0;
            margin: 0;
        }
        
        body {
            box-sizing: 0px;
            padding: 0;
            margin: 0;
            font-family: 'Rubik', sans-serif;
        }
        /* -------------------------------------------
             Header style  
            ----------------------------------------------*/
        
        header {
            padding: 0;
            margin: 0;
            padding: 0;
            box-sizing: 0px;
            height: 70px;
            position: fixed;
            width: 100%;
        }
        
        .sticky {
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
            transition: 0.5s;
            background: white;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
        }
        
        .logo {
            padding-top: 15px;
        }
        
        .logo a {
            font-size: 1.5rem;
            font-weight: bold;
            color: #FDDB27;
            font-family: 'Rubik', sans-serif;
            text-decoration: none;
        }
        
        .logo a:hover {
            color: #00B1D2;
            transition: 0.5s;
        }
        
        nav a {
            text-decoration: none;
        }
        
        nav ul {
            width: 40%;
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        
        nav ul li {
            font-family: 'Rubik', sans-serif;
            padding-top: 20px;
            list-style: none;
        }
        
        nav ul li a {
            font-weight: 500;
            font-size: 1.1rem;
            color: rgb(34, 33, 33);
        }
        
        nav ul li a:hover {
            color: #FDDB27;
            transition: 0.2s;
        }
        
        .menue {
            display: none;
        }
        /* -------------------------------------------------
                          menue in mobile 
         ---------------------------------------------------*/
        
        #menue {
            cursor: pointer;
            font-size: 2rem;
            transition: 1.5s;
        }
        
        @media only screen and (max-width: 600px) {
            nav ul {
                transition: 0.5s;
                position: absolute;
                left: -100%;
                display: inline;
                width: 70%;
                background-color: white;
                height: 100vh;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
                padding: 100px;
            }
            .toggle {
                left: 0;
                transition: 0.5s;
            }
            nav ul li a:hover {
                color: #00B1D2;
            }
            .menue {
                display: inline;
                padding: 12px 0 0 0;
            }
        }
        /* -------------------------------------------
                        Home section  style  
            ----------------------------------------------*/
        
        #home {
            background-image: url(../img/aloneboy.png);
            background-size: 600px;
            background-position: right;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100vh;
        }
        
        .hero-img {
            width: 47%;
            float: right;
            z-index: 0;
        }
        
        .hero-text {
            font-family: 'Rubik', sans-serif;
            padding-top: 200px;
            width: 35%;
        }
        
        .hero-text h1 {
            font-weight: 800;
            margin: 0;
            padding: 0;
        }
        
        .hero-btn {
            font-family: 'Rubik', sans-serif;
            padding: 10px 25px 10px 25px;
            background: #00B1D2;
            outline: none;
            border: none;
            color: white;
            font-size: 1.3rem;
            border-radius: 30px;
        }
        
        .hero-btn:hover {
            color: rgba(15, 29, 59, 0.808);
            background: #FDDB27;
            transition: 0.5s;
        }
        /* -------------------------------------------
           #services sections  style  
            ----------------------------------------------*/
        
        #services {
            width: 100%;
            overflow: hidden;
        }
        
        .services-h {
            padding: 90px 0 70px 0;
            font-family: 'Rubik', sans-serif;
        }
        
        .services-h p {
            margin: 0;
            color: #fddb27;
            font-size: 1.3rem;
        }
        
        .service {
            background-color: #F8FAFF;
            margin: 10px;
            color: #FDDB27;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 70px;
            border-radius: 10px;
            font-family: 'Rubik', sans-serif;
        }
        
        .service h3,
        .service p {
            color: black;
            font-family: 'Rubik', sans-serif;
        }
        /* .service:hover {
            color: #ffffff;
            background-color: #00B1D2;
            transition: 1.5s;
            cursor: pointer;
        }
        
        .service:hover .c-w {
            color: white;
        } */
        /* -------------------------------------------
             #contact section  style  
            ----------------------------------------------*/
        
        #contact {
            padding: 100px 0 100px 0;
        }
        
        .icons {
            display: flex;
        }
        
        .icon-box {
            color: #FDDB27;
            border-radius: 50%;
            background: #f3eba757;
            padding: 15px;
            width: 70px;
            height: 70px;
        }
        
        .icon-box:hover {
            transition: 0.5s;
            color: #ffffff;
            background-color: #FDDB27;
        }
        
        .icons h3,
        p {
            font-family: 'Rubik', sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .c-text {
            padding-left: 30px;
        }
        
        footer {
            background: #00B1D2;
            height: 200px;
            width: 100%;
        }